.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.tech-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  padding-top: 30px;
  width: 65%;
  max-width: 400px;
  height: 220px;
  border-radius: 15px;
  margin-top: 30px;
}

.card-title {
  font-size: 24px;
  margin: 0px;
  margin-bottom: 15px;
}

.card-desc {
  color: #64748b;
  margin: 0px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.card-img {
  width: 45px;
  height: 45px;
  align-self: flex-end;
}

@media screen and (min-width: 992px) {
    .tech-card {
        margin-left: 20px;
        min-width: 40%;
        flex-shrink: 0;
    }
}